.card-bg {
    position: relative;
    margin: 30px 10px;
    overflow:hidden;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
}

.card-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.card-hover:hover {
    background: #FFF2;
}

.card-img {
    width: 380px;
    height: 200px;
}

.card-vid {
    width: 380px;
    height: 200px;
    max-width: fit-content;
}

.card-info {
    width: 100%;
    margin-top: 10px;
    background-color: #555;
}

.card-title {
    font-size: large;
    margin: 5px 0;
    text-align: center;
}

.card-top {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-bottom {
    width: 370px;
    display: flex;
    flex-direction: column;
}

.card-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-tags {
    flex-grow: 1;
}

@media only screen and (max-width: 1199px) {
    .card-img {
        width: 350px;
    }

    .card-bottom {
        width: 420px;
    }

    .card-tags .tag {
        padding: 3px 6px !important;
    }

    .card-top {
        width: 350px;
    }
    
    .card-bottom {
        width: 350px;
    }
}

@media only screen and (max-width: 749px) {
    .card-bg {
        width: 100%;
        align-items: center;
    }

    .card-top {
        width: 100%;
        max-width: 500px;
    }
    
    .card-bottom {
        width: 100%;
        max-width: 500px;
    }
}