body {
    background: #454545;
    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
}

.section-bg {
    display: flow-root;
    background: #444;
}

.card-bg {
    position: relative;
    background: #333;
    width: 400px;
    float: left;
    margin: 10px;
    overflow:hidden;
}

.card-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.card-hover:hover {
    background: #FFF2;
}

.card-img {
    width: 400px;
}

.tag {
    margin: 3px 1px;
}