body {
    background: #ccc;
    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-bg {
    position: relative;
    display: flow-root;
    background: #555;
}

.section-title {
    padding: 0 20px;
}

.section-top {
    width: 100%;
}

.section-narrow {
    width: 1200px;

}

.card-bg {
    position: relative;
    background: #333;
    width: 380px;
    float: left;
    margin: 10px;
    overflow:hidden;
    padding: 0 0 10px 0;
}

.card-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
}

.card-hover:hover {
    background: #FFF2;
}

.card-img {
    width: 400px;
}

.tag {
    margin: 3px 1px;
}

.top-slides {
    width: 100%;
    height: 600px;
}

.top-slides-img {
    overflow: hidden;
    background-color: #222;
    height: 600px;
    display: flex;
    align-items: center;
}

.top-slides-img img {
    width: 100%;
    padding: 10px;
    max-height: 500px;
    object-fit: cover;
    object-position: top left;
}

.top-slides-info {
    float: right;
    width: 400px;

}

#profile-pic {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.strengths-bar-con {
    position: relative;
    padding: 5px;
}

.strengths-bar {
    position: absolute;
    height: 10px;
    width: 300px;
    border-radius: 5px;
}

.strengths-fg {
    background-color: #009688;
}

.strengths-bg {
    background-color: #b0f6e8;
}

li {
    float: left;
    margin-right: 40px;
}


