body {
    background: #ccc;
    color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-bg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-title {
    padding: 0 20px;
}

.section-top {
    width: 100%;
}

.section-narrow {
    width: 1200px;

}

.tag {
    margin: 3px 1px;
}

li {
    float: left;
    margin-right: 40px;
}

#more-projects-button {
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    color: #888;
    margin-bottom: 20px;
}

#less-projects-button {
    display: none;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    color: #888;
    margin-bottom: 20px;
}

#more-projects-button:hover {
    color: #fff;
}

#less-projects-button:hover {
    color: #fff;
}

#more-projects {
    display: none;
}

li {
    font-size: x-large;
}

@media only screen and (max-width: 1199px) {
    .section-narrow {
        width: 100%;
    }

    h3 {
        font-size: large;
    }
}

@media only screen and (max-width: 749px) {
    .tag {
        padding: 3px 6px !important;
    }

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: medium;
    }

    li {
        font-size: large;
    }    
}