.return-bar {
    background-color: #555;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    z-index: 100;
}

#return-button-small {
    display: none;
}

#return-button button {
    background-color: transparent;
    position: absolute;
    color: #ccc;
    cursor: pointer;
    text-align: center;
    padding: 0px 16px 0px 32px;
    text-decoration: none;
    border: none;
}

#return-button-small button {
    background-color: transparent;
    position: absolute;
    color: #ccc;
    cursor: pointer;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    border: none;
}

#return-button button:hover {
    background-color: #ccc;
    color: #111;
}

#proj-title {
    color: #ccc;
    width: 100%;
    text-align: center;
    margin: 0px;
    font-weight: bold;
}

.section-top {
    padding-top: 70px;
    padding-bottom: 20px;
}

.section-bottom {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #ccc;
    padding: 0px 50px 300px 50px;
}

.project-slide {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 660px;
}

.captions {
    position: absolute;
    background: #111111aa;
    text-align: center;
    color: #ccc;
    bottom: 0;
    margin: 0;
    padding: 10px;
    width: 80%;
}

.slides-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.carousel-button {
    background-color: #555;
    color: #ccc;
    cursor: pointer;
    text-align: center;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border: none;
    -webkit-user-select: none;
    user-select: none;
}

.carousel-button:hover {
    background-color: #ccc;
    color: #111;
}

.demo {
    color: #aaa;
    cursor: pointer;
    text-align: center;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border: none;
    background-color: #111;
}

.demo:hover {
    background-color: #ccc;
    color: #111;
}

.carousel-select {
    background-color: #333;
    color: #ccc;
}

.tag {
    margin: 3px 3px;
}

.card-tags {
    padding: 0 5px;
}

#proj-general, #proj-technologies, #proj-other {
    font-size: 20px;
}

.external-website {
    width: 100%;
    height: 100%;
    border: none;
}

.project-image, .project-video {
    max-width: 100%;
    max-height: 100%;
}

.project-slide {
    height: 655px;
}



@media only screen and (max-width: 1199px) {
    .section-bottom {
        padding: 0px 20px 300px 20px;
        width: 700px;
    }

    .slides-container {
        width: 100%;
    }

    #return-button button {
        padding: 0px 16px;
    }

    #proj-title {
        display: inline-block;
        vertical-align: middle;
        font-size: x-large;
        line-height: 1.5;
        padding: 0px 125px;
    }

    .project-slide {
        height: 430px;
    }
}

@media only screen and (max-width: 749px) {
    .section-bottom {
        width: 100%;
    }

    .tag {
        padding: 3px 6px !important;
        margin: 3px 2px;

    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: large;
    }

    #return-button {
        display: none;
    }

    #return-button-small {
        display: block;
    }

    #return-button-small button h2 {
        font-size: xx-large;
    }

    #proj-title {
        display: inline-block;
        vertical-align: middle;
        font-size: large;
        line-height: 1.5;
        padding: 0px 45px;
    }

    #proj-general, #proj-technologies, #proj-other {
        font-size: large;
    }

    .project-slide {
        height: 355px;
    }
}

@media only screen and (max-width: 599px) {
    .project-slide {
        height: 295px;
    }
}

@media only screen and (max-width: 479px) {
    .project-slide {
        height: 235px;
    }
}