name: Publish Website
on:
  push:
    branches: main

jobs:
  Build:
    runs-on: self-hosted

    steps:
     - uses: actions/checkout@v4
     - name: Setup Go 1.23.5
       uses: actions/setup-go@v5
       with:
         go-version: '1.23.5'

     - name: Install dependencies
       run: go get .

     - name: Build
       run: go build -o main

     - name: Archive build artifacts
       uses: actions/upload-artifact@v4
       with:
          name: website folder
          path: .

  Deploy:
    needs: Build
    runs-on: self-hosted
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: website folder
          path: /home/Websites
      - name: Run Go
        run: ./main
